/* header {
    nav {
        ul {
            li {
                a {
                    color: red;
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }
    }
} */